@{
    ViewBag.Title = "Index";
}


<!--start wrapper-->
<section class="wrapper">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="fs_loader"></div>

            <div class="slide slide1">


                <p class="slide-heading" data-position="100,1200" data-in="top" data-out="bottom" data-delay="500"><span> Arts</span> Science</p>
                <p class="slide-heading" data-position="160,1200" data-in="bottom" data-out="top" data-delay="1500"> IT <span> Engineering </span> </p>
                <p class="slide-heading" data-position="220,1200" data-in="top" data-out="bottom" data-delay="2500"><span>Phiolosphy</span> Medicines </p>

            </div>

            <div class="slide slide2">

                <img src="images/fraction-slider/image-slider-3.jpg" width="1920" height="450" data-in="fade" data-out="fade" />

                <img src="images/fraction-slider/news_12593-slider.jpg" width="500" height="auto" data-position="47,1200" data-in="bottomLeft" data-out="fade" style="width:auto; height:auto" data-delay="500">


                <p class="slide-heading" data-position="130,380" data-in="top" data-out="left" data-ease-in="easeOutBounce" data-delay="700">Annual <span>Shows</span> at <span>School</span></p>

                <p class="sub-line" data-position="220,380" data-in="right" data-out="left" data-delay="1500"> Feveral Party,Eid Party, Culture Day Party  </p>


            </div>

            <div class="slide slide3">
                <img src="images/fraction-slider/7.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />


                <p class="slide-heading" data-position="80,950" data-in="top" data-out="fade" data-delay="3300" data-ease-in="easeOutBounce">Office Parties </p>


                <p class="sub-line" data-position="160,950" data-in="left" data-out="left" data-delay="4400">University of karachi</p>
            </div>
        </div>
    </div></section>
    <!--=========================================== End Slider ==============================================-->
    <!--start info service-->

<marquee scrollamount="20" behaviour="alternate" style="background-color:red">
    <h2 >Merit Result will be announced on <a>24th june,2017</a> </h2>
</marquee>
    <section class="info_service">
        <div class="container">
            <div class="row sub_content">
                <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInDown">
                    <h1 class="intro text-center" id="h">University Of Karachi</h1>
                    <p class="lead text-center" style="font-size:small">Spread over 1200 acres of land, University of Karachi was established through the parliament as a Federal University in 1951. However, through another act of the parliament in 1962 its status was redefined as university of the province of Sindh. On 23rd October, 1950 the Karachi University Act was passed and after an amendment in 1951, it was enacted and Prof A. B. A Haleem was appointed as its first Vice Chancellor. For the first two years, the University of Karachi remained as an examination University for the affiliated colleges. In the year 1953, it started its teaching and research activities at two Faculties of Arts and Science. Opened with an initial intake of 50 students, the university is now a sprawling structure of 53 Departments and 20 world class and highly reputable Research Centers and Institutes, under eight faculties of Arts, Science, Islamic Studies, Pharmacy, Management and Administrative Sciences, Law, Education and Medicine. At present, the enrolment of regular students at the Campus is slightly over 24,000. There are over 800 teachers and more than 2500 supporting staff.</p>
                </div>
                <div class="rs_box  wow bounceInRight" data-wow-offset="200">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <i class="fa fa-birthday-cake"></i>
                            </div>
                            <h3>About Us</h3>
                            <p>
                                The University in the beginning was housed in small buildings adjacent to the Civil Hospital. Meanwhile, due to rapid expansion, it began to be felt that the space in which the university was functioning was not enough for its needs. Moreover, the atmosphere of the congested and polluted area was not conducive to higher education and research. Thus, a plot of 1279 acres of land was acquired on the Country Club Road (now University Road) and on 18th January 1960 the university was shifted to the new campus. Thus began, a new phase in the life of the university. The day is still commemorated by various old students' Association and the University administration jointly. 
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <i class="fa fa-cutlery"></i>
                            </div>
                            <h3>Karachi University today</h3>
                            <p>
                                The Karachi University today is the biggest university in the country. It comprises eight faculties with which all the colleges of the city are affiliated. B.S., M.S., M.Phil. and Ph.D. classes under five of these faculties Arts, Science, Pharmacy, Management and Administrative Science and Islamic Learning are conducted on the campus, while under the Faculties of Medicine, law and Education it examines the students admitted to their affiliated colleges. Research programmers leading to M.Phil and Ph.D Degree are offered under all the faculties.
                                <br />
                                <br />
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-gift"></i>
                            </div>
                            <h3>Science</h3>
                            <p>
                                The Science Faculty which consists of 23 departments and five research Institutes can be said to be the biggest scientific centre in the country. The Research Institutes include the HEJ Research Institute of Chemistry, which is world renowned and has also been designated World Academy of Science. It is the prime research institute of the country and has high level research faculties for chemical science particularly Natural Product Chemistry.
                                <br /><br />
                                <br />

                            </p>

                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="serviceBox_3">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-music"></i>
                            </div>
                            <h3>Libary</h3>
                            <p>
                                The library of the university is one of the largest library in the country. Housed in spacious building, it has a collection of over 360,000 books, and over 110,000 copies of national and foreign journals and periodicals. There is also a microfilm section which has copies of rare manuscripts from the British museum, the India Office Library and the Bodleian and Cambridge University libraries.
                                A highlight of the library is the Quaid-i-Azam's personal collection of books, many of which carry his own signature.   <br />
                                <br /><br />
                                <br />



                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end info service-->
    <!--Start recent work-->
    <section class="latest_work">
        <div class="container">
            <div class="row sub_content">
                <div class="carousel-intro">
                    <div class="col-md-12">
                        <div class="dividerHeading">
                            <h4><span>Recent Work</span></h4>
                        </div>
                        <div class="carousel-navi">
                            <div id="work-prev" class="arrow-left jcarousel-prev"><i class="fa fa-angle-left"></i></div>
                            <div id="work-next" class="arrow-right jcarousel-next"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="jcarousel recent-work-jc">
                    <ul class="jcarousel-list">
                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/1.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/1.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="marriage event.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/party-decorations.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/party-decorations.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="promotion parties.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/christmas-party-decoration-ideas-pinterestllll.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/christmas-party-decoration-ideas-pinterest.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="office parties.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/53fdf.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/elegant-party-decorations-50th-birthday-craft-room-home-office.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="school events.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/ggggg.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/7a54ebc874803eea79104dc5ec998c2f.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="Birth Day.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/vvv.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/annualday.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="school events.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/IMG-20160305-WA0042-d5c691b0-d5cb-4017-b66d-f42e69964166.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/IMG-20160305-WA0042-d5c691b0-d5cb-4017-b66d-f42e69964166.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="promotion parties.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>

                        <!-- Recent Work Item -->
                        <li class="col-sm-3 col-md-3 col-lg-3">
                            <div class="recent-item">
                                <figure>
                                    <div class="touching medium">
                                        <div class="plus_overlay"></div>
                                        <div class="plus_overlay_icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="images/Recent work images/ccc.jpg" alt="" />
                                    </div>
                                    <div class="option">
                                        <a href="images/Recent work images/21.jpg" class="hover-zoom mfp-image"><i class="fa fa-search"></i></a>
                                        <a href="marriage event.html" class="hover-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <figcaption class="item-description">
                                        <h5>Touch and Swipe</h5>
                                        <span></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="parallax parallax-1">
        <div class="container">
            <!--<h2 class="center">Testimonials</h2>-->
            <div class="row">
                <div id="parallax-testimonial-carousel" class="parallax-testimonial carousel wow fadeInUp">
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="parallax-testimonial-item">
                                <blockquote>
                                    <!--Start recent work-->
                                    <!-- Parallax with Testimonial -->
                                    <p>Events do not just happen. Do not just focus on the here and now but, instead, have an overarching view of your end goal. </p>
                                </blockquote>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <div class="parallax-testimonial-review">
                                    <img src="images/Recent work images/C4D.png" alt="testimonial">
                                    <span>JADON Events Management</span>
                                    <small>JEM</small>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="parallax-testimonial-item">
                                <blockquote>
                                    <p>As an event professional you, likely, never feel like there’s enough time — but maybe thats a good thing! Without the end in sight (and a little healthy anxiety surrounding that end) its easy to get complacent or push things off. </p>
                                </blockquote>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <div class="parallax-testimonial-review">
                                    <img src="images/Recent work images/C4D.png" alt="testimonial">
                                    <span>JADON Events Management</span>
                                    <small>JEM</small>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="parallax-testimonial-item">
                                <blockquote>
                                    <p>those things you do wish for? Make them happen! Set a goal, make a plan and get to it. Any great event planner is a pro in this JADON</p>
                                </blockquote>
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </p>
                                <div class="parallax-testimonial-review">
                                    <img src="images/Recent work images/C4D.png" alt="testimonial">
                                    <span>JADON Events Management</span>
                                    <small>JEM</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#parallax-testimonial-carousel" class=""></li>
                        <li data-slide-to="1" data-target="#parallax-testimonial-carousel" class="active"></li>
                        <li data-slide-to="2" data-target="#parallax-testimonial-carousel" class=""></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- end : Parallax with Testimonial -->

    <section class="feature_bottom">
        <div class="container">
            <div class="row sub_content">
                <div class="col-lg-6  wow slideInLeft" data-wow-duration="1s">
                    <div class="dividerHeading">
                        <h4><span>Why Choose Us?</span></h4>
                    </div>
                    <p>JADON Events will quickly understand the business and marketing outcomes that our clients wish to achieve. We combine our years of events experience with our knowledge and contacts in PR, traditional and online marketing, advertising and design to ensure that we produce the best events that deliver on those outcomes, every time..</p>
                    <ul class="list_style circle">
                        <li><a href="#">Firstly, we obtain a brief from our client and confirm the business and marketing objectives for the event.</a></li>
                        <li><a href="#"> Next, we devise a concept and plan which meets those objectives. We can also prepare various alternative plans for clients to choose from.</a></li>
                        <li><a href="#"> We will then manage the various event elements in the lead up to the event day, involving the client to the extent that they require.</a></li>
                        <li><a href="#"> We manage execution of the event on the day, using our years of experience to quickly resolve any issues and deliver a successful outcome.</a></li>
                        <li><a href="#">JADON Events uses the very best proprietary tools that it has developed and software to ensure that your events are delivered successfully</a></li>
                    </ul>
                </div>

                <!-- TESTIMONIALS -->
                <div class="col-lg-6 wow slideInRight" data-wow-duration="1s">
                    <div class="dividerHeading">
                        <h4><span>What Client's Say</span></h4>
                    </div>

                    <ul class="progress-skill-bar mrg-0">
                        <li>
                            <span class="lable">70%</span>
                            <div class="progress_skill">
                                <div data-height="100" role="progressbar" data-value="70" class="bar" style="width: 0px; height: 0px;">
                                    System design
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="lable">80%</span>
                            <div class="progress_skill">
                                <div data-height="100" role="progressbar" data-value="80" class="bar" style="width: 0px; height: 0px;">
                                    Data analysis
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="lable">90%</span>
                            <div class="progress_skill">
                                <div data-height="100" role="progressbar" data-value="90" class="bar" style="width: 0px; height: 0px;">
                                    Link-level analysis
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="lable">80%</span>
                            <div class="progress_skill">
                                <div data-height="100" role="progressbar" data-value="80" class="bar" style="width: 0px; height: 0px;">
                                    Coverage modelling
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="lable">70%</span>
                            <div class="progress_skill">
                                <div data-height="100" role="progressbar" data-value="70" class="bar" style="width: 0px; height: 0px;">
                                    Event Solutions
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- TESTIMONIALS END -->
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <div class="row  sub_content">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="dividerHeading">
                        <h4><span>Meet our Faculty</span></h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="dreamz-team">
                        <div class="pic">
                            <img src="images/2.jpg" width="200" height="250" alt="profile img">
                            <div class="social_media_team">
                                <ul class="team_social">
                                    <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="gmail" href="#." data-placement="top" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team_prof">
                            <h3 class="names">Salman Masood<small>MCS</small></h3>
                            <p class="description"> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="dreamz-team">
                        <div class="pic">
                            <img src="images/3.jpg" width="200" height="250" alt="profile img">
                            <div class="social_media_team">
                                <ul class="team_social">
                                    <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="gmail" href="#." data-placement="top" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team_prof">
                            <h3 class="names">Talha Hassan<small>Software Engineer</small></h3>
                            <p class="description"> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="dreamz-team">
                        <div class="pic">
                            <img src="images/4.jpg" width="200" height="250" alt="profile img">
                            <div class="social_media_team">
                                <ul class="team_social">
                                    <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="gmail" href="#." data-placement="top" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team_prof">
                            <h3 class="names">Wajahat Haider<small>Bs Computer Science</small></h3>
                            <p class="description"> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="dreamz-team">
                        <div class="pic">
                            <img src="images/5.jpg" width="200" height="250" alt="profile img">
                            <div class="social_media_team">
                                <ul class="team_social">
                                    <li><a class="fb" href="#." data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twtr" href="#." data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="gmail" href="#." data-placement="top" data-toggle="tooltip" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team_prof">
                            <h3 class="names">Hafiz Junaid<small>Network Engineer</small></h3>
                            <p class="description"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="container">
            <div class="row sub_content">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="dividerHeading">
                        <h4><span>Our Clients</span></h4>

                    </div>

                    <div class="our_clients">
                        <ul class="clearfix">
                            <li class="col-sm-4 col-md-4 col-lg-4"><a href="services.html" data-placement="bottom" data-toggle="tooltip" title="Client 1"><img src="images/fraction-slider/images.png" alt="" /></a></li>
                            <li class="col-sm-4 col-md-4 col-lg-4"><a href="services.html" data-placement="bottom" data-toggle="tooltip" title="Client 2"><img src="images/fraction-slider/51486794fe499fa639290641752f69e1.jpg" alt="" width="300" height="200" alt="" /></a></li>
                            <li class="col-sm-4 col-md-4 col-lg-4"><a href="services.html" data-placement="bottom" data-toggle="tooltip" title="Client 3"><img src="images/fraction-slider/download.png" height="207" /></a></li>

                        </ul><!--/ .clearfix-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end wrapper-->


